var prefix = "/${pathName}/${classname}"

var ${classname}List = {
    url: {
        list: prefix + '/list',
        add: prefix + '/add',
        remove: prefix + '/remove',
        batchRemove: prefix + '/batchRemove',
        edit: function (id) {
            return prefix + '/edit/' + id
        }
    },
    reload: function () {
        $('#${classname}Table').bootstrapTable('refresh');
    },
    add: function () {
        layer.open({
            type: 2,
            title: '增加',
            maxmin: true,
            shadeClose: false, // 点击遮罩关闭层
            area: ['800px', '520px'],
            content: ${classname}List.url.add
        });
    },
    edit: function (id) {
        layer.open({
            type: 2,
            title: '编辑',
            maxmin: true,
            shadeClose: false, // 点击遮罩关闭层
            area: ['800px', '520px'],
            content: ${classname}List.url.edit(id)
        });
    },
    remove: function (id) {
        layer.confirm('确定要删除选中的记录？', {
            btn: ['确定', '取消']
        }, function () {
            $.ajax({
                url: ${classname}List.url.remove,
                type: "post",
                data: {
                    '${pk.attrname}': id
                },
                success: function (r) {
                    if (r.code == 0) {
                        layer.msg(r.msg);
                            ${classname}List.reLoad();
                    } else {
                        layer.msg(r.msg);
                    }
                }
            });
        })
    },
    getSelectIds: function (rows) {
        if (rows == null && rows.length < 1) {
            return "";
        }
        var ids = new Array();
        $.each(rows, function (index, item) {
            ids.push(item.id);
        });
        return ids;
    },
    batchRemove: function () {
        var rows = $('#${classname}Table').bootstrapTable('getSelections');
        if (rows.length < 1) {
            layer.msg("请选择要删除的数据");
            return;
        }
        layer.confirm("确认要删除选中的'" + rows.length + "'条数据吗?", {
            btn: ['确定', '取消']
        }, function () {
            $.ajax({
                type: 'post',
                url: ${classname}List.url.batchRemove,
                data: {
                    "ids": ${classname}List.getSelectIds(rows)
                },
                success: function (data) {
                    if (data.code == 0) {
                        layer.msg(data.msg);
                            ${classname}List.reLoad();
                    } else {
                        layer.msg(data.msg);
                    }
                }
            });
        });
    },
    loadTable: function () {
        $('#${classname}Table').bootstrapTable({
            method: 'post', // 服务器数据的请求方式 get or post
            url: ${classname}List.url.list, // 服务器数据的加载地址
            //showRefresh : true,
            //showToggle : true,
            //showColumns : true,
            iconSize: 'outline',
            toolbar: '#${classname}Toolbar',
            striped: true, // 设置为true会有隔行变色效果
            dataType: "json", // 服务器返回的数据类型
            pagination: true, // 设置为true会在底部显示分页条
            //queryParamsType : "limit",
            //设置为limit则会发送符合RESTFull格式的参数
            singleSelect: false, // 设置为true将禁止多选
            //contentType : "application/x-www-form-urlencoded",
            //发送到服务器的数据编码类型
            pageSize: 10, // 如果设置了分页，每页数据条数
            pageNumber: 1, // 如果设置了分布，首页页码
            //search : true, // 是否显示搜索框
            showColumns: false, // 是否显示内容下拉框（选择显示的列）
            sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
            queryParams: function (params) {
                return {
                    //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                    limit: params.limit,
                    offset: params.offset
                    //name:$('#searchName').val(),
                    //username:$('#searchName').val()
                };
            },
            //请求服务器数据时，你可以通过重写参数的方式添加一些额外的参数，例如 toolbar 中的参数 如果
            //queryParamsType = 'limit' ,返回参数必须包含
            //limit, offset, search, sort, order 否则, 需要包含:
            //pageSize, pageNumber, searchText, sortName,
            //sortOrder.
            //返回false将会终止请求
            columns: [{
                checkbox: true
            },#foreach($column in $columns){
                field: '${column.attrname}',
                title: '${column.comments}'
            },#end {
                title: '操作',
                field: 'id',
                align: 'center',
                formatter: function (value, row, index) {
                    var editHtml = '<a class="btn btn-primary btn-sm ' + hideEditClass + '" href="#" mce_href="#" title="编辑" onclick="${classname}List.edit(\'' + row.${pk.attrname} + '\')"><i class="fa fa-edit"></i></a> ';
                    var removeHtml = '<a class="btn btn-warning btn-sm ' + hideRemoveClass + '" href="#" title="删除"  mce_href="#" onclick="${classname}List.remove(\'' + row.${pk.attrname} + '\')"><i class="fa fa-remove"></i></a> ';
                    var resetHtml = '<a class="btn btn-success btn-sm ' + hideResetPwdClass + '" href="#" title="备用"  mce_href="#" onclick="${classname}List.resetPwd(\'' + row.${pk.attrname} + '\')"><i class="fa fa-key"></i></a> ';
                    return editHtml + removeHtml;
                }
            }]
        });
    },
    initPage: function () {
        ${classname}List.loadTable();
    }
}

$(function () {
        ${classname}List.initPage();
});
